<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
      <style>
div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ffd1f2;
    height: 220px;
    width: 220px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
    vertical-align: middle;
}
     </style>
  </head>
  <body>
{% for item in list %}
    <div class="img">
      <a target="_blank" href="uploads/{{ item[0] }}">
        <img src="uploads/pre_{{ item[0] }}" >
      </a>
    </div>
{% endfor %}
  </body>
</html>
